@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    box-sizing: inherit;
    font-family: 'Open Sans', sans-serif;
}

.pageWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

h2 {
    font-size: 1.875em;
    font-family: 'Lobster', cursive;
}

h3 {
    color: #54683b;
    font-size: 1.5em;
}

h4 {
    color: #AE2900;
}

ol, ul {
    list-style-position: inside;
    padding: 5px;
}

ol li {
    padding: 3px 0;
}

/*********************************************** Header *********************************************/
#home {
    /* Bakcground image from Adobe Stock By butenkow */
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    height: 468px;
}

.headerNav {
    height: 468px;
    width: 180px;
    position: absolute;
    top: 0; 
    left: 0;
    background-color: #54683b; 
    padding-top: 20px;
}

.navLinks {
    display: inline-block;
    margin-left: 20px;
    transform: translateY(20%);
    list-style: none;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.navLinks li {
    padding: 10px 0;
}

.navLinks li a {
    text-decoration: none;
    color: #fff;
}

.navLinks a:hover {
    color: #e88502;
}

.logo {
    color: #b3c7d1;
    font-style: italic;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    text-align: center;
}

.logo h2 {
    margin-top: 20px;
    padding: 20px;
    border-bottom: 3px solid #2a2f02;
    font-size: 1.25em;
}

.headerTxtBox {
    background-color: #d4dfe5;
    border: 5px solid #54683b;
    opacity: .8;
    width: 40%;
    height: auto;
    padding: 25px;
    float: right;
    text-align: center;
}

.headerPara {
    margin-bottom: 15px;
    font-size: 1.125em;
}

h1 {
    font-size: 3.125em;
    font-family: 'Lobster', cursive;
    padding-bottom: 10px;
    color: #2a2f02;
}

/*********************************************** Main *********************************************/
.sectionTitle {
    margin-top: 20px;
}

.sectionTitle, .sectionTxt {
    margin-bottom: 15px;
}

.favLists {
    margin: 10px 0;
}

.accessoryList, .prepList {
    font-size: 0.875em;
}

/*** Tea Varieties Section ***/
#teaVar {
    display: inline-block;
    width: 67%;
    margin: 1.5%;
}

.varTable {
    width: fit-content;
}

.tableHeadings {
    font-size: 1em;
    color: #2a2f02;
}

.teaName {
    font-weight: bold;
    font-style: italic;
}

.teaImg {
    width: 50%;
}

.tableFooter {
    height: fit-content;
    padding: 5px 0;
}

.refTxt {
    font-size: 0.75em;
}

table, th, td {
    text-align: center;
    border: 1px solid #69140e;
}

th {
    background-color: #54683b;
    color: #fff;
}

td {
    text-transform: capitalize;
    padding: 10px;
}

/*** Favourite Tea Section ***/
#favTea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    border-top: 2px solid #2a2f02;
}

.favThree {
    margin: 0 1.5%;
    flex: 30%
}

.favThreeTitle, .favThreePara {
    padding-bottom: 15px;
}

.favTeaImg {
    width: 100%;
    height: auto;
}

figure {
    border-bottom: 1px solid #AE2900;
    margin-bottom: 20px;
}

figcaption {
    font-size: 0.875em;
    color: #54683b;
}

/********************************************** Comment **********************************************/
#comments {
    border-top: 2px solid #2a2f02;
    padding: 25px;
    text-align: center;
}

.formInput {
    margin: 15px 0;
    font-size: 1.125em;
}

.teaOpts {
    margin-bottom: 30px;
}

fieldset {
    margin: 0 auto;
    width: 60%;
    padding: 20px;
    border: 2px solid #54683b;
    text-align: center;
}

legend {
    color: #fff;
    background-color: #54683b;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: left;
}

label {
    margin-right: 10px;
    font-size: 0.875em;
}

button {
    padding: 10px;
    margin: 5px;
    border: 3px solid #54683b;
    background-color: #54683b;
    color: #fff;
    border-radius: 10px 0;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
}

button:hover {
    border: 3px solid #54683b;
    background-color: #e88502;
    color: #54683b;
}

/*********************************************** Sidebar *********************************************/
.sideBar {
    float: left;
    width: 30%;
    transform: translateY(22%);
}

.sideBarTitle {
    background-color: #AE2900;
    text-align: center;
    padding: 15px;
    color: #fff;
    font-size: 1.25em;
}

.sideSubTitle {
    text-decoration: underline;
    color: #2a2f02;
    margin-bottom: 10px;
    font-size: 1.125em;
}

.sideBarSect {
    padding: 10px;
    border: 1px solid #AE2900;
    border-top: none;
}

.webList {
    list-style-type: square;
}

.webList a {
    text-decoration: none;
    color: #2a2f02;
}

.webList a:hover {
    color: #b3c7d1;
}

.webList a:visited {
    color: #e88502;
}

/*********************************************** Footer *********************************************/
footer {
    padding: 25px;
    clear: both;
    background-color: #54683b;
    color: #fff;
    text-align: center;
}
